@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header>div, .header li, .content div {
  border: 2px solid blue;
}

:root {
  --light-background: #f8fbff;
  --medium-background: #dbeafe;
  --dark-background: #3b82f6;
  font-family: 'Roboto', sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: inherit;
}

a:hover {
  transform: scale(1.02);
}

h2{
  height: 32px;
  padding: 8px 0;
}

body {
  height: 100vh;
  padding: 16px;
  background-color: var(--light-background);
}

.container {
  height: 100%;
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
  background-color: var(--dark-background);
  border-radius: 16px;
  border: 2px solid var(--dark-background);
  box-shadow: 2px 2px 8px 2px grey;
}



.header {
  display: grid;
  grid-template: 1fr 1fr /  2fr 1fr;
  padding: 16px 48px;
  background-color: var(--light-background);
  border-radius: 0 16px 0 0;
}

.search {
  display: flex;
  align-items: center;
}

.search img {
  position: relative;
  top: 0.3vh;
  height: calc(24px + 1vh);
}

.search input {
  margin: 0 1vw;
  padding: 0 8px;
  width: 25vw;
  height: calc(24px + 0.5vh);
  border-radius: 100vh;
  border: none;
  background-color: rgb(220, 220, 235);
}

.search input:focus-visible {
  outline: none;
  box-shadow: 0 0 4px grey;
}

.search input:hover {
  box-shadow: 0 0 4px grey;
}

.alerts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2vw;
  font-size: 1.7em;
  font-weight: 600;
}

.alerts .profilePicture {
  margin: 0 48px;
  height: 40px;
  width: 40px;
  background-color: purple;
  border-radius: 20px;
}

.shareButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shareButtons button {
  height: 32px;
  width: calc(48px + 3vw);
  margin: 0 4px;
  background-color: var(--dark-background);
  color: white;
  border-radius: 16px;
  border: none;
  font-size: 1.1em;
  font-weight: 600;
}



.sidebar {
  align-self: flex-start;
  grid-area: 1/1/3/2;
  padding: 16px;
  display: inline-grid;
  gap: calc(16px + 5vh);
  color: white;
  font-weight: 700;
  letter-spacing: 0.1em;
  background-color: var(--dark-background);
  border-radius: 16px 0 0 16px;
}

.logo {
  padding: calc(4px + 1vh) 0;
  display: flex;
  align-items: center;
  font-size: calc(1.8rem + 0.5vw);
}

.sidebar ul>li {
  padding: calc(2px + 0.8vh) 0;
  display: flex;
  align-items: center;
  font-size: calc(1rem + 0.3vw);
}

.sidebar img {
  height: calc(8px + 1.5vw);
  filter: invert(100%);
  padding: 2px 8px 2px 2px;
}

.sidebar>.logo>img {
  height: calc(12px + 2vw);
}

.sidebar a:visited, .sidebar a:link {
  text-decoration: none;
  color: white;
}



.content {
  padding: 48px 16px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 32px;
  background-color: rgb(210, 210, 230);
  border-radius: 0 0 16px 0;
}

.projects {
  grid-area: 1/1/3/2;
  
}

.projects>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}

.announcements, .projects, .trending {
  display: grid;
  grid-template-rows: 48px 1fr;
}

.announcements>ul, .trending>ul {
  display: grid;
  grid-auto-rows: 1fr;
}